<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application>
        <activity
            android:name="dev.aaa1115910.bv.tv.activities.MainActivity"
            android:banner="@drawable/ic_banner"
            android:enableOnBackInvokedCallback="false"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BV.TV.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>